a.a-nostyle, a.a-nostyle:hover {
    color: #333;
    text-decoration: none;
}

footer.footer {
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
    text-align: center;
}
