{% extends "base.html.j2" %}

{% block content %}
<div class="row">

    <h1 class="page-header">À propos</h1>

    <p class="lead">
        Cette page répondra peut-être à une des questions que vous vous posez.
    </p>

    <h2>Nous contacter</h2>

    <p>
        Si vous remarquez une erreur (le projet est jeune, on a pas vérifié chaque page de la Bible, alors il y a certainement des coquilles !), ou si avez la moindre suggestion, remarque ou plainte, n’hésitez-pas à nous envoyer un mail à <a href="mailto:bible@kfeine.org">bible@kfeine.org</a>.
    </p>

    <h2>Qu’est-ce que c’est ?</h2>

    <p>
        Sur bible.kfeine.org, nous vous offrons la possibilité de télécharger, au format PDF, les livres de la Bible de votre choix. Vous pourrez choisir la police utilisée, sa taille, la taille de la marge… Cependant, <b>le texte que nous vous fournirons sera brut</b> ! Vous ne trouverez ni numéros de chapitres, ni numéros de versets, ni commentaires, ni renvois.
    </p>

    <p>
        Nous nous sommes cependant efforcés de conserver une mise en forme (paragraphes, etc.) permettant un confort de lecture minimal. De plus, il est possible d’inclure les titres des chapitres de la version utilisée.
    <p>

    <h2>Pourquoi ?</h2>

    <p>
        Nous ne sommes pas les seuls à désirer qu’une telle solution voit le jour. Parmi nos connaissances, le sujet revient régulièrement. Certains blogs chrétiens ont également partagé l’idée (comme <a title="Tout pour Sa gloire" href="https://toutpoursagloire.com/redynamiser-lecture-bible/">Tout pour sa gloire</a> et <a title="Le bon combat" href="http://leboncombat.fr/bible-sans-versets/">Le bon combat</a>). Et il y a même une <a title="Pétition pour une Bible de lecture" href="https://www.change.org/p/une-bible-de-lecture">pétition pour cela</a> !</p>

    <p>
        Alors pourquoi un tel engouement ? C’est une bonne question… Et nous allons y répondre. Mais, avant cela, nous voudrions que vous vous posiez les questions qui suivent :
    </p>
    <ul>
        <li>Comment lisez-vous la bible ?</li>
        <li>Pourquoi lisez-vous la bible ?</li>
    </ul>

    <h3>Les avantages</h3>

    <p>
        Avoir une bible sans titres de chapitres ni versets a les avantages suivants :
    </p>
    <ul>
        <li><b>Une lecture moins saccadée</b> : lire l’histoire de Joseph chapitre par chapitre, matin après matin, n’a pas vraiment de sens. Vous êtes-vous arrêté quand Rouletabille révèle le mystère de la chambre jaune ? Qui lirait un roman ainsi ? Téléchargez une version épurée de la Genèse sur notre site, vous serez étonnés de votre rythme de lecture !</li>
        <li><b>Une lecture plus rapide</b> : vous lisez plus rapidement le dernier Harry Potter qu’un livre de la Bible. Ça ne vous étonne pas ? C’est pourtant normal. La quantité d’informations extra-textuelles que notre cerveau doit ignorer est tout bonnement incroyable. Numéros de chapitres, de versets, commentaires et versets parallèles… Téléchargez une version épurée de la Genèse sur notre site, vous serez étonnés de votre vitesse de lecture !</li>
        <li><b>Une lecture sans pression</b> : « Allez, plus que 15 chapitres, et je finis Deutéronome. » Vous êtes-vous déjà dit quelque chose du genre ? Toutes seules, les 20 pages du Deutéronome paraitront moins impressionnantes que votre cours de droit-éco. Téléchargez donc une version du Deutéronome, et jugez par vous-même !</li>
        <li><b>Lire n’importe où, même dans son lit</b> : parce que, à minuit moins dix, on est plutôt fatigué. Et, allongé sur le lit, la Bible tenue à bout de bras se fait de plus en plus lourde. Et le smartphone n’est certainement pas une bonne solution… Il rend le sommeil difficile, et l’icône Facebook est tout simplement trop attractive, sans parler de la fatigue pour les yeux. Téléchargez donc un livre sur notre site et imprimez-le !</li>
        <li><b>Repérer la structure</b> : saviez-vous que ces généalogies ennuyantes de la Genèse servent à partager le texte en grandes section ? Elles commencent toutes par « Voici la lignée de Bidule », et marquent le début d’un nouveau cycle. Ces informations sont essentielles, elles indiquent comment l’auteur souhaitait que l’on partage son livre. Ne passez plus à côté de ça, et téléchargez un PDF sur notre site.</li>
        <li><b>Didactique</b> : saviez-vous que pour enregistrer des informations, le cerveau humain les analyse et les classe ? C’est d’ailleurs pour ça que retenir un prénom est difficile : il ne veut rien dire ! Cependant, nos Bibles traditionnelles empêchent notre cerveau de discriminer des informations. Téléchargez donc un livre sur notre site, et retenez ce que vous lisez.</li>
        <li><b>Étudier un texte en profondeur</b> : en imprimant le texte biblique avec de larges marges, vous pourrez plus facilement annoter le texte et sa structure, souligner des mots-clés, et même gommer sans risquer de froisser la page 1389 de votre belle Bible aux bordures dorées ;)</li>
        <li><b>Lire plusieurs fois, en travaillant le texte</b> : n’avez-vous jamais ouvert un Psaume inconnu, et lu le texte sans qu’il vous touche ? C’est normal ! Une lecture rapide ne suffit pas. Et Dieu nous a avertis : « Heureux celui qui médite la parole de Dieu jours et nuits. » Ne suivez plus votre plan de lecture, mais téléchargez un de nos PDF. Faites le trainer votre table de nuit, et lisez-le plusieurs fois pendant la semaine (à ce sujet, lisez <a title="How to Change Your Mind" href="https://www.thegospelcoalition.org/article/how-to-change-your-mind1#When:08:01:00Z">cet article de Joe Carter sur The Gospel Coalition</a>, que nous avons découvert va cet article de <a "Plans de lecture de la Bible" href="https://stephanekapitaniuk.toutpoursagloire.com/plan-de-lecture-biblique/">Tout pour sa gloire</a>).</li>
        <li><b>Relier plusieurs livres ensemble</b> : saviez-vous que Luc et Actes ont le même auteur, et ont été écrits pour être lus à la suite ? Vous n’avez jamais voulu avoir les livres de Samuel et des Rois ensemble ? Le site bible.kfeine.org permet d’imprimer un texte prévu pour la reliure. N’attendez-pas, et téléchargez un de nos PDF et <a href="http://fr.wikihow.com/relier-ou-renforcer-un-livre" title="Tuto reliure">faites-vous votre propre Bible</a> !</li>
    </ul>

    <h3>Remarques</h3>

    <p>
        Attention : nous vous proposons un <b>outil</b>. Donc non, une Bible sans versets ne vous permettra pas de vous rapprocher de Dieu, d’être plus spirituel (de le paraître, tout au plus), d’obtenir une quelconque bénédiction du Père ou de vous faire rencontrer l’âme sœur.
    </p>
    <p>
        Il ne s’agit pas non plus de fonder un nouveau mouvement qui prétendrait que la meilleure manière de lire la Bible est de le faire dans la langue originale, et sur rouleau de papyrus s’il vous plait, mais simplement <b>d’améliorer et de faciliter votre lecture</b>. Et puis, <a href="https://www.amazon.com/Testament-Bible-Without-Chapters-Verses/dp/1300781963">les Anglais en ont une</a>, alors pourquoi pas nous ?
    </p>

    <h2>Qui est derrière tout ça ?</h2>

    <p>
        Nous sommes deux jeunes chrétiens, nous membres d’églises évangéliques.
    </p>

    <h2 id="geek">Comment c’est fait (partie geek)</h2>

    <p>
        Tout ceci est fait avec un ensemble d’outils open source :
    </p>
    <ul>
        <li>Flask, un framework Python, pour le fonctionnement du site web ;</li>
        <li>Bootstrap 3, un framework CSS, pour l’apparence du site ;</li>
        <li>LaTeX, pour générer les PDF ;</li>
        <li>Linux / Nginx / Gunicorn pour le côté serveur web.</li>
    </ul>
    <p>
        Vous pouvez trouver toutes les sources, contribuer pour améliorer le site ou bien faire tourner le site de votre côté, <a title="Framagit" href="https://framagit.org/kfeine/sola-scriptura">sur le dépôt git</a>.
    </p>

</div>

{% endblock %}
