<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Sola Scriptura</title>
        <meta name="description" content="Le texte seul">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <nav class="navbar navbar-default" style="border-radius: 0;">
            <div class="container">
        <div class="col-md-8 col-md-offset-2">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Sola Scriptura</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li {% if rights_page %}class="active"{% endif %}><a href="/droits">Droits</a></li>
                    <li {% if about_page %}class="active"{% endif %}><a href="/a-propos">À propos</a></li>
                </ul>
            </div>
            </div>
        </nav>

        <div class="container">
        <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% block content %}
            {% endblock %}
        </div>
        </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

        {% block scripts %}
        {% endblock %}


        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h4 class="text-muted">
                            <i>« La Bible, sans versets, sans chapitres et sans tout le reste »</i>
                        </h4>
                        <br>
                        <p class="text-muted">
                            D&B 2017. Le code est librement disponible (cf la <a href="/a-propos#geek" title="Sources">la page « À propos »</a>).
                        </p>
                        <p class="text-muted">
                            Concernant les droits des traductions, se référer à <a title="Page droits" href="/droits">la page « Droits »</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </body>

</html>
