{% macro render_field(field, label_visible=true) -%}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    {% if field.type == 'BooleanField' %}
    <div class="checkbox col-md-offset-4 col-md-8">
        <label>{{ field(**kwargs) }} {{ field.label }}</label>
    </div>
    {% else %}
    <label for="{{ field.id }}" class="col-md-4">{{ field.label }}</label>
    <div class="col-md-8">
        {% if field.type == 'SelectField' or field.type == 'SelectMultipleField' %}
        {{ field(class_="form-control selectpicker", **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {% else %}
        {{ field(class_="form-control", **kwargs) }}
        {% endif %}
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% extends "base.html.j2" %}

{% block content %}
    {% if pdf_error %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            Erreur
        </div>
        <div class="panel-body">
            <span class="text-danger">Une erreur est survenue lors de la génération du PDF</span>
        </div>
    </div>
    {% else %}
    {% if form_success %}
    <div class="panel panel-success">
        <div class="panel-heading">
            Résultats
        </div>
        <div class="panel-body">
            <a class="btn btn-success btn-lg btn-block" href="/getpdf/{{ pdf_code }}.pdf" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Télécharger le pdf</a>
            {% if booklet %}
            <a class="btn btn-success btn-lg btn-block" href="/getpdf/{{ pdf_code }}-booklet.pdf" target="_blank"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Télécharger le pdf pour reliure</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}


    <div class="jumbotron hidden-xs">
        <h2>La Bible, sans versets ni chapitres <small>ni notes ni renvois ni titres…</small></h2>
        <p>
            Ce site vous propose de générer des PDF des livres de la Bible, dans plusieurs traductions, épurés de tous les éléments extra-textuels.</p>
        </p>
        <p>
            Pour en savoir plus, consultez la <a title="Page à propos" href="/a-propos">page « À propos »</a>.</p>
        </p>
    </div>

    <h1 class="page-header">Générer un PDF</h1>
    <form action="" method="post" name="form" class="form-horizontal">
        {{ form.hidden_tag() }}

        {{ render_field(form.version) }}
        {# {{ render_field(form.books, title="Sélectionner le ou les livres", **{'data-actions-box':'true', 'data-deselect-all-text':'Tout décocher', 'data-select-all-text':'Tout cocher'}) }} #}
        {{ render_field(form.books, title="Sélectionner le ou les livres", **{'data-live-search':'true'}) }}
        {{ render_field(form.title) }}
        {{ render_field(form.font) }}
        {{ render_field(form.font_size) }}
        {{ render_field(form.margins) }}
        {{ render_field(form.make_toc) }}
        {{ render_field(form.heading_footer) }}
        {{ render_field(form.sections_titles) }}

        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="collapsed a-nostyle" role="button" data-toggle="collapse" href="#collapse-booklet" aria-expanded="false" aria-controls="collapse-booklet">Montrer ou masquer les options de reliure</a>
            </div>
            <div id="collapse-booklet" class="panel-collapse collapse">
                <div class="panel-body">
                    {{ render_field(form.signature) }}
                    {{ render_field(form.make_booklet) }}
                    {{ render_field(form.two_sides) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox col-md-offset-2 col-md-8">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Génerer le PDF (peut être long !)</button>
            </div>
        </div>
    </form>
{% endblock %}


{% block scripts %}
<script>
    // When books are selected / deselected, we set the title input accordingly
    $(function() {
        $('select#books').change(function() {
            selected_values=$(this).val();
            titles = []
            $(this).find('option:selected').each(function() {
                titles.push($(this).text());
            });
            $('input#title').val(titles.join(", "))
        });
    });
</script>
{% endblock %}
