{% extends "base.html.j2" %}

{% block content %}
<div class="row">

    <h1 class="page-header">Droits</h1>

    <p>
        À ce jour, seule la version Louis Segond 1910 est mise à disposition car c’est l’unique traduction française libre de droits.
    </p>
    <p>
        Nous espérons obtenir l’autorisation des ayants droits pour d’autres versions (Segond 21, Semeur…). <b>N’hésitez pas à nous contacter à ce sujet par mail (<a href="mailto:bible@kfeine.org">bible@kfeine.org</a>).</b>
    </p>


</div>

{% endblock %}
